# AutoCAD files.
*.bak
*.dwl
*.dwl2

# LTSpice.
Simulations/*.log
Simulations/*.net
Simulations/*.op.raw
Simulations/*.raw

# Eagle backup files.
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?
*~renumsch.scr

# Autorouter files.
*.pro
*.job

# CAM files.
CAM/
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln
*.drd
*.drd.*
*.s#*
*.b#*
*.info
*.eps

# Eagle file locks introduced since 7.x.
*.lck

# Misc.
*.*~
.DS_Store

